.container{
    height: calc(80vh - 8rem);
    background-color: rgba(255, 166, 0, 0.8);
    overflow: hidden;
}
.arrowContainer{
    position: absolute;
    width: 5%;
    height: 10%;
    top: 0;
    bottom: 0;
    /* margin: auto; */
    margin-top: 300px;
    cursor: pointer;
    z-index: 90;
    opacity: 0.4;
}
.wrapper{
    width: 800vw;
    height: 100%;
    display: flex;
}
.slider{
    display: flex;
    width: 100vw;
    position: relative;
}
.text{
    width: 40vw;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(207, 41, 30);
}
.title{
    font-size: 4vw;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px;
    cursor: pointer;
}
.description{
    color: chocolate;
    font-size: 2vw;
}
.imgContainer{
    width: 40vw;
    height: 90%;
    position: absolute;
    left: 50vw;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imgContainer Image{
    padding: 10px;
}
@media screen and (max-width:850px) {
    .container{
        height: 40vh;
    }
    .description{
        font-size: 3vw;
    }
    .imgContainer{
        width: 48vw;
    }
    .arrowContainer{
        margin-top: 200px;
    }
}