.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    background-color: black;
}
.upper{
    grid-row: 1/2;
    background-color: #666;
    display: flex;
    padding: 20px;

}
.about{
    padding: 10px;
    flex: 1;
    display: flex;
    text-align: justify;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.important{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.list{
    display: flex;
    flex-direction: column;
}
.link{
    cursor: pointer;
    padding-bottom: 5px;
    font-weight: 700;
    color: #222;

}
.social{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.follow{
    padding-bottom: 10px;
    font-size: 30px;
}
.medialist{
    display: flex;
    flex-direction: column;
}
.icon{
    font-size: 25px;
    padding: 5px 0;
    cursor: pointer;
}
.icon:hover{
    padding: 0px;
    font-size: 35px;
}
.lower{
    grid-row: 2/3;
    background-color: #666;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe{
    font-size: 25px;
    padding-bottom: 10px;
}
.input{
    outline: none;
    border-radius: 0 10px 0 10px;
    height: 30px;
    width: 300px;
    color: rgb(8, 139, 221);
    font-weight: 900;
    border: none;
}
.input:hover,.input:focus{
    color:black;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(255, 211, 218, 0.6);
}
.button{
    color: white;
    background-color: rgb(255, 63, 95);
    border: none;
    margin-left: 10px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}
.button:hover{
    color: rgb(255, 63, 95);
    background-color: white;
    border: 2px solid rgb(255, 63, 95);
    border-radius: 5px 0 5px 0;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.love{
    font-size: 20px;
    font-weight: 700;
}
.copyright{
    padding: 10px 0;
}
@media screen and (max-width:850px) {
    .link{
        padding-bottom: 10px;

    }
    .about{
        height: 200px;
        overflow: scroll;
    }
    .about::-webkit-scrollbar{
        display: none;
    }
    
}
@media screen and (max-width:480px) {
    .upper{
        display: flex;
        flex-direction: column;
    }
    .medialist{
        flex-direction: row;
    }
    .icon{
        padding: 5px 10px;
    }
    .list{
        flex-direction: row;
    }
    .important{
        padding: 0;
    }
    .link{
        padding: 5px 15px;
    }
    .input{
        height: 20px;
        width: 150px;
    }
    .copyright{
        font-size: 10px;
    }
    .subscribe{
        font-size: 15px;
        font-weight: 600;
    }
    .button{
        margin-left: 10px;
        padding: 5px;
        font-size: 10px;
    }
}