.container{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    width: 300px;
}
.input{
    border: none;
    border-bottom: 1px solid red;
    height: 40px;
    margin-bottom: 20px;
    padding: 0px 10px;
    outline: none;
}
.input:hover{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgba(0, 128, 128, 0.1);
}
.button{
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    background-color: teal;
    color: white;
    border: none;
}
.button:hover{
    color: teal;
    background-color: white;
    border: 2px solid teal;
    border-radius: 20px;
}
.error{
    height: 15px;
    position: relative;
    top: -320px;
    margin: 0px auto;
    font-size: 20px;
    color: red;
    font-weight: 600;
    animation: animate 1s infinite forwards;
}
@keyframes animate{
    from{
        color: blue;
        font-size: 10px;
    }
    to{
        color: red;
        font-size: 15px;
    }
}

.policy{
    padding: 5px 10px;
}
.text{
    color: red;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.forgot{
    color: blue;
    cursor: pointer;
    padding: 5px 10px;
}
.forgot:hover{
    color: red;
}
.register{
    font-size: 20px;
    font-weight: 500;
    padding: 2px 10px;
    text-decoration: none;
    cursor: pointer;
    color: red;
}
.register:hover{
    color: green;
}
@media screen and (max-width:400px){
    .wrapper{
        width: 80%;
    }
    .error{
        top: 0;
    }
    
}